[2019-10-24 16:33] pybuche commented on #175
I'm also interested in this. Actually the example with saga in the README doesn't work :/

[2019-10-24 16:49] Kamahl19 commented on #175
@pybuche what do you mean `doesnt work`

[2019-10-25 15:30] pybuche commented on #175
There is a typo in the code example, but I realized it only a few hours ago :)
[code]

[2019-10-25 21:30] piotrwitek opened #184 "Fix redux-saga example in the docs"
## Description
Redux saga example in the docs doesn't work because of a missing line
https://github.com/piotrwitek/typesafe-actions#with-redux-saga-sagas

## Suggested solution(s)
[code]

[2019-10-25 21:30] piotrwitek commented on #175
@pybuche created a bug for it #184, up for grabs

[2019-10-26 16:27] piotrwitek opened #185 "Refactoring: Improve internal validation using new TS 3.7 Assertion Functions"
Update internal validation functions (inside `src/utils/validation.ts`) using new TS 3.7 Assertion Functions.

[2019-10-28 09:17] piotrwitek opened #187 "Handle using `[any, any]` tuple type with new v5 API"
## Is your feature request related to a real problem or use-case?
There are a few type helpers to create action types compatible with typesafe actions, most important ones are `ActionBuilder` and `ActionCreatorBuilder` which other more advanced types are leaning on (especially new `AsyncActionCreator` with tuple `[Payload, Meta]` type)

It would be good to extend them with some particular edge cas

[2019-10-28 10:45] piotrwitek opened #188 "Update Tutorial to v5.0.0"
Tutorial needs to be updated to v5.0.0.

[2019-10-28 10:47] piotrwitek opened #189 "Update API Docs to v5.0.0"
API Docs need to be updated to v5.0.0.

[2019-10-28 11:01] piotrwitek opened #190 "Add all the missing type-helpers types in the Type-Helpers API section"
- ActionBuilder
- ActionCreatorBuilder
- AsyncActionCreatorBuilder

[2019-10-28 11:17] piotrwitek opened #191 "Add Migration Guide from v4.x.x to v5.x.x"
Add a new v5.x.x section to the migration guide in the docs.

[2019-10-28 13:16] piotrwitek commented on #143
- Feature is completed and will be published today as beta `v5.1.0-0`.
- Migration guide is ready #191
- Documentation will be updated later, so for now please use examples found in the first comment #189

[2019-10-28 17:36] #184 closed

[2019-10-28 19:57] #191 closed

[2019-10-28 19:57] #143 closed

[2019-10-28 19:57] #73 closed

[2019-10-28 19:57] #90 closed

[2019-10-28 20:04] piotrwitek opened #200 "Migrate codesandbox project with the `v5.1.0` release"
## Description
Migrate the `codesandbox` project code to use the most recent release library`v5.1.0`.

https://codesandbox.io/s/github/piotrwitek/typesafe-actions/tree/master/codesandbox

[2019-10-28 20:06] piotrwitek commented on #153
Resolved by #194

[2019-10-28 20:06] #153 closed

[2019-10-28 20:23] #200 closed

[2019-10-29 02:45] jstheoriginal opened #202 "v5.1.0-0 Error: bundling failed: Error: Unable to resolve module `./action` from `node_modules/typesafe-actions/dist/typesafe-actions.umd.production.js`"
## Description
React Native reports this error:

bundling failed: Error: Unable to resolve module `./action` from `node_modules/typesafe-actions/dist/typesafe-actions.umd.production.js`

I've confirmed that the file it's trying to get isn't there (only the action.d.ts file is there)

## Steps to Reproduce

## Expected behavior
Should bundle properly onto device.

## Suggested solution(s)
I'm guess

[2019-10-29 08:35] piotrwitek commented on #202
Hey @jstheoriginal
I updated rollup, that's probably some configuration issue, thanks for report I'll look into it ASAP

[2019-10-29 09:39] #202 closed

[2019-10-29 09:47] piotrwitek commented on #202
Released `typesafe-actions@5.1.0-1` with the fix 🎉

[2019-10-29 14:00] jstheoriginal commented on #202
Thanks for the quick fix!

[2019-10-29 20:15] antony2809 opened #204 "ActionType is always never"
I'm trying to follow the tutorial, and I don't know why when making de declaration of my type Actions, is always return never. So this doesn't allows me to use the helpers.

I have this file structure

`constants.ts`

[code]

`actions.ts`
[code]

`reducer.ts`
[code]

I'm doing something wrong, because I couldn't find the solution for this.

Regards

[2019-10-29 20:30] piotrwitek commented on #204
Hey @antony2809
v4 or v5?

[2019-10-29 20:47] antony2809 commented on #204
V5

[2019-10-29 20:53] piotrwitek commented on #204
This is incorrect syntax, please check new API:

[code]

![Screen Shot 2019-10-29 at 9 53 15 PM](https://user-images.githubusercontent.com/739075/67808209-87afe200-fa96-11e9-8104-569f091f370c.png)

[2019-10-29 20:53] #204 closed

[2019-10-30 08:44] mitsuruog commented on #204
@antony2809 I had the same issue just now.
I guess you are on the tutorial V4. (V5 tutorial seems under preparing)
please try on V4, then the above issue will be gone.

[2019-11-02 16:34] Aridor2006 opened #205 "typesafe-actions@5.1.0-1: Cannot find module './deprecated'."
## Description
After updating to 5.1.0-1 I get the following error:

/.../node_modules/typesafe-actions/dist/index.d.ts
TypeScript error in /.../node_modules/typesafe-actions/dist/index.d.ts(17,39):
Cannot find module './deprecated'.  TS2307

    15 | export { isActionOf } from './is-action-of';
    16 | export { Types, ActionType, StateType, TypeConstant, Action, Reducer, EmptyAction, PayloadActi

[2019-11-02 20:01] #205 closed

[2019-11-02 20:05] piotrwitek commented on #205
Just released `v5.1.0` with the fix!

[2019-11-04 17:19] IronSean opened #206 "5.x release changelogs are not documented in the Releases list"
## Description
There are no release notes or explanations for breaking changes/version bumps for any 5.x release currently on the Releases tab. And CHANGELOG.md indicates that is the location for changelog information.

## Steps to Reproduce
1. Go to releases tab

## Expected behavior
A list of breaking and non-breaking changes with each release

## Suggested solution(s)
Add release notes

[2019-11-04 19:08] piotrwitek commented on #206
Yep, it's in progress.

[2019-11-04 19:48] piotrwitek opened #207 "Add support for an `error` field to `createAction`"
## Is your feature request related to a real problem or use-case?
Add support for an `error` field to `createAction` so it is compliant with [Flux standard action](https://github.com/redux-utilities/flux-standard-action#actions) specification.

This will open the possibility to use `typesafe-actions` with other solutions or applications that are relying on that pattern.

## Describe a solution inc

[2019-11-05 22:58] piotrwitek commented on #206
Closed by https://github.com/piotrwitek/typesafe-actions/releases/tag/v5.1.0

[2019-11-05 22:58] #206 closed

[2019-11-06 12:11] huberzeljko commented on #148
Is this still possible in ^5.1.0? Seems like there is no `AsyncActionCreator `and `AsyncAction `is not exported.

[2019-11-06 14:00] piotrwitek commented on #148
@huberzeljko yes it is, please check 5) in a migration guide: https://github.com/piotrwitek/typesafe-actions#v4xx-to-v5xx

[2019-11-07 06:55] huberzeljko commented on #148
I can't seem to get this working:

[code]

This is the error:

I could make it working though by replacing
`[T1, P1]` with `[T1, [P1, undefined]]` (and same for other constraints)

Am I missing something or?

[2019-11-07 10:55] hsz opened #208 "createAction's 4th type is supposed to be an array - is it really required?"
After the latest release, there is `createAction` available with the following typing:

[code]

So now if I'd like to specify all of the types, I need to:

[code]

So - to define the `arg` type (and `myAction` arguments as well) as `string` I need to provide `string[]`.
Is it really necessary? It looks like a fake requirement, because it can be handled like:

[code]

What do you think?

[2019-11-07 11:46] piotrwitek commented on #148
Payload type could be a tuple, so you need to make your constraints more explicit because you don't have any constraints right now. If you don't want to support tuple for Payload and Meta then [T1, [P1, undefined]] is the correct usage.

[2019-11-08 21:56] piotrwitek commented on #208
Hey @hsz,
It is not a false requirement its purpose is to get an inference in case of payload/meta creators with multiple parameters, here is a comparison before and after your change:
BEFORE:
![Screen Shot 2019-11-08 at 10 53 29 PM](https://user-images.githubusercontent.com/739075/68513176-a2464000-027a-11ea-8edb-2ac81fbeaf6e.png)
AFTER:
![Screen Shot 2019-11-08 at 10 55 34 PM](https://user-image

[2019-11-08 21:56] #208 closed

[2019-11-09 10:26] hsz commented on #208
That makes sense. Thank you for the explanation and delivering the v5!

[2019-11-14 20:10] C-Higgins opened #209 "v5.1 has more breaking changes than are documented in the release"
I just upgraded from 4.4.2 to 5.1.0, following the migration guide. I replaced the methods with their deprecated counterparts, and I was only using createStandardAction everywhere so it was simple. However the types were still broken after that. There were `type is 'unknown'` errors everywhere in the redux code, which I think stemmed back to the createReducer or the combineReducers not emitting th

[2019-11-15 14:39] piotrwitek commented on #209
Hey,
I'll need a reproduction case or it's impossible to do anything about your issues.

[2019-11-15 15:34] dcs3spp opened #210 "v5.1.0 Reducer state type declaration reporting unknown when use ReturnType<typeof myCombinedReducer>"
## Description
Hi,

Not sure if this is a bug or my usage error....

I have recently upgraded to v5.1.0 of the library and when declaring the type for the state in a reducer the resulting properties are defined as unknown.

## Steps to Reproduce
[code]
I have uploaded an example screenshot of reducer code, [here](https://gitlab.com/dcs3spp/myfiles/blob/master/reducer-state-unknown.png), to illustr

[2019-11-15 17:14] piotrwitek commented on #210
Hi @dcs3spp,
Thanks for report.

Mandatory info:
1. Are you extending internal types to enable type-free syntax with `createReducer`? (Check the docs [here](https://github.com/piotrwitek/typesafe-actions#extending-internal-types-to-enable-type-free-syntax-with-createreducer) if you're not sure)

[2019-11-15 17:59] dcs3spp commented on #210
Hi @piotrwitek,
Thanks for responding :) Yes, I have a type declaration file for RootAction, RootState etc. as follows:
[code]
where the rootAction.ts file is defined as....
[code]

Full reducer code is:
[code]

The issue still happens if I use the createAction function from deprecated. In the meantime, going to revert back to 4.4.2.

[2019-11-15 18:54] piotrwitek commented on #210
Compare this:

Guide:
[code]

Your code:
[code]

Do you see difference?

[2019-11-15 18:56] piotrwitek commented on #210
Here is the best example from codesanbox: https://github.com/piotrwitek/typesafe-actions/blob/master/codesandbox/src/store/types.d.ts

[2019-11-15 20:05] dcs3spp commented on #210
Many thanks @piotrwitek, that solved it. I changed type declaration file in my src/@types folder to be:

[code]
Not sure why, but it solved the issue..... Is it something to do with the above type declaration module overriding those in node_modules/typesafe-actions type declarations? Is the ```Types``` interface referenced in ```createReducer``` code....?

Anyway, many thanks again that solved the

[2019-11-15 20:05] #210 closed

[2019-11-15 20:33] mavajee commented on #209
@piotrwitek code from examples for createAsyncAction

![image](https://user-images.githubusercontent.com/10177998/68973786-39257600-0800-11ea-9144-347b9d4feb65.png)
![image](https://user-images.githubusercontent.com/10177998/68973814-45a9ce80-0800-11ea-84e7-4c5d2d088abf.png)

[2019-11-15 21:42] C-Higgins commented on #209
I noticed that if I remove the type override in v4, I get the exact same error as I do when upgrading to v5. Perhaps this is not the correct way to override in v5.

Override:
[code]

[2019-11-16 10:27] piotrwitek commented on #210
@dcs3spp correct it's referenced in createReducer code :)
I'm glad it helped to fix your issue!

[2019-11-16 10:31] piotrwitek commented on #209
@mavajee what you're showing is not possible because there are unit tests and it's working correctly. Please provide a full reproduction case in a new issue if you want me to look at it.

@C-Higgins the override is correct, check the similar issue here confirmed it's working: https://github.com/piotrwitek/typesafe-actions/issues/210#issuecomment-554508758

[2019-11-17 00:04] tstelzer commented on #209
FYI: I had the same error. Problem was me not properly following the migration guide, and failing to do
[code]
everywhere I was still using the old action creators. That lead to my root-action to be incorrectly typed, which in turn caused my root-reducer to be incorrectly typed.

[2019-11-17 11:11] dcs3spp commented on #210
👍 Many thanks again for your help @piotrwitek. typesafe-actions library a valuable asset for typescript redux developers :)

[2019-11-18 21:49] dcs3spp opened #211 "Query: Is there a way to access the AsyncAction interface for use as type of a function parameter?"
Hi,

Hope somebody can help with the following query, also raised on spectrum chat channel.....

I have written a generic epic that accepts an async action as a parameter, as follows:

[code]

The type of the ```aysncAction``` parameter is ```AsyncActionCreatorBuilder```.
In the redux-observable Epic<...> generic I manually specify the ```PayloadAction``` types for Input and Output actions in the

[2019-11-19 17:47] piotrwitek commented on #211
This is related to the following request in that so it will result in epic instead of a reducer, but they seem to be complementary: #88

I have to close this issue because of the invalid format, but I encourage you to open a new issue using a feature request form that is following the format in #88. Then I will consider it a new feature and moreover, I'm willing to work on it having available time

[2019-11-19 17:47] #211 closed

[2019-11-20 11:30] dcs3spp opened #212 "Is there a way to automatically generate PayloadAction type unions from an AsyncActionCreateBuilder instance to facilitate writing custom epic generic templates"
## Is your feature request related to a real problem or use-case?

I have written a generic epic that accepts an async action as a parameter:

[code]
The type of the ```aysncAction``` parameter is ```AsyncActionCreatorBuilder```.
In the redux-observable Epic<...> generic I manually specify the ```PayloadAction``` types for Input and Output actions in the stream.

## Describe a solution including u

[2019-11-20 11:33] dcs3spp commented on #211
Hi @piotrwitek ,

Many thanks :) Have summarised using feature request [here](https://github.com/piotrwitek/typesafe-actions/issues/212).

[2019-11-20 13:38] piotrwitek commented on #211
Thanks!

[2019-11-20 18:54] C-Higgins commented on #209
Found the problem. At some point in the past, the handleAction took a getType call as the first parameter, like so:

[code]

This works properly in 4.4.2. In 5.1.0, you must remove the getType function and just pass the action.

[2019-11-20 20:39] piotrwitek commented on #209
@C-Higgins thanks a lot for investigating this issue.
I think you're right, the reason here is that `handleAction` was supporting string constants, but in v5 you can still do it but it has a separate handled called `handleType`.

I'll add it to the breaking changes, thanks a lot for help!

[2019-11-22 08:32] haraldkrischner opened #213 "Getting TS2345 Error when I have got variables in type names"
## Description
We converted our project to using typesafe actions and it worked well until I touched the last reducer.
Having variables in the type names like:
`export const initSelectionFromState = createAction(SELECTION +' [DOC] INIT_FROM_STATE')()`
can cause a type error TS2345 in the reducer to occur. It does not happen in all constellations, and it does not on the first handleAction call.
Rem

[2019-11-22 15:03] dregenor commented on #205
Still not work.
node_modules/typesafe-actions/dist/index.d.ts:17:39 - error TS2307: Cannot find module './deprecated'.

[2019-11-23 18:33] piotrwitek commented on #213
Hey @haraldkrischner
I think you're getting this: Limitations of TypeScript when working with string constants
 https://github.com/piotrwitek/typesafe-actions#constants

[2019-11-25 09:38] haraldkrischner commented on #213
Thanks for your quick response @piotrwitek
Yes, it looks like that is the case. Besides it took me quite a while to narrow it down, the workaround is quite easy. Though we intended to share the actions across entities in the first place.
Anyway, this project reduces a lot of IMHO awkward redux typescript boilerplate code and is a big win for our project, so thank you!

Best
H.

[2019-11-25 09:38] #213 closed

[2019-11-27 03:09] cloudshadow opened #214 "Object map style can not get the type of action and state"
## Description
When i use object map style to create reducer i find ts can not get the type of action and state.

## Mandatory info
<img src="https://raw.githubusercontent.com/cloudshadow/jquery-cloudshadow-plugin/master/typesafe-any.jpg"/>
<img src="https://raw.githubusercontent.com/cloudshadow/jquery-cloudshadow-plugin/master/typesafe-type.jpg"/>

## How to Reproduce

### CodeSandbox Link

*(PAS

[2019-11-27 08:30] piotrwitek commented on #214
Hi @cloudshadow
Report is invalid because it's missing info bug I guess `rootAction.someActions.success` is not a correct string literal type.

Please follow the bug report template and I will reopen the issue.

[2019-11-27 08:40] cloudshadow commented on #214
Hi Piotrwitek
i think rootAction.someActions.success is correct
<img src="https://github.com/cloudshadow/jquery-cloudshadow-plugin/blob/master/typesafe.jpg"/>

[2019-11-27 09:45] piotrwitek commented on #116
Closing because it is superseded by #207

[2019-11-27 09:45] #116 closed

[2019-11-27 09:53] piotrwitek commented on #214
@cloudshadow
Ok I have found the reason, it's a reported bug in TypeScript: https://github.com/microsoft/TypeScript/issues/29718

I would recommend to go there and ask in the issue when are they planning to fix it to show the interest coming from the community.

TODO:
I have to update the documentation to highlight the bug and link to the TypeScript issue

[2019-11-29 10:20] egonm12 opened #215 "createAsyncAction incorrect ReturnType for an array with 2 elements whose types are known"
## Description

The return type of my async actions are not as expected. When I want my payload shape to be `[string, string]` it somehow returns `payload: string; meta: string`. This is not the case when I would do `[string, string, string]`. In that case `payload` is of type `[string, string, string]`.

## How to Reproduce

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Sug

[2019-11-29 10:34] piotrwitek commented on #215
It's by design to provide both payload and meta.
If you want to use a tuple as type argument please use payload + meta syntax:
[code]

[2019-11-29 10:53] #215 closed

[2019-12-09 18:02] mrassili opened #217 "Can this tool be used with a (non-TS) React app"
Hi,

Sorry for putting this here, I haven't found any active place to ask?

So we have a React application already written in JS (all .js files) so we wanted to use this library but I have no idea if we should re-write our app in TS or what?

Thanks

[2019-12-11 19:22] Sir-hennihau commented on #143
For anyone coming from search engines with the following bug:

My mistake was that I didn't see the docs were not updated yet. I solved it by using the new createAction() API given in this post.

Example:
[code]

[2019-12-12 15:49] mAAdhaTTah commented on #143
Maybe this should be a new issue, but I'm not sure I understand the benefit/point of the extra function call in `createAction`. Given the above example:

[code]

The generic `Provider` is... provided... twice. Does this actually help the typing? I'm curious why this is necessary.

[2019-12-16 00:59] edgarSang opened #218 "How to use AsyncActionCreatorBuilder"
I used typescript typesafe-actions v4

and i createSaga common fuction

like this
[code]

With this sauce, I was able to create a single line of sagas.

like this

[code]
but in v5 i can't use this source code.

becuase of **AsyncActionCreatorBuilder**

How I change the source ??

[2019-12-24 00:33] piotrwitek commented on #217
Hey @mrassili
Already answered on the gitter but I'll copy my answer here as well:

Yes, it will work perfectly in JS without TypeScript, but you'll miss a lot of benefits of the library. I would recommend using either vscode and enabling `allowJs` for type checking in JS to get some of the benefits, but to get all the benefits and catching all possible errors you'd have to at lease write all your

[2019-12-24 00:33] #217 closed

[2019-12-24 00:43] piotrwitek commented on #143
@mAAdhaTTah good question.
Looking at the above example you don't want to use extra function call in that case, because it's not designed for it. There is a simpler way to do that:
[code]

But it can be useful in other more complex cases, especially when you want to set the constraints for the types you expect.

Consider this:
[code]
This will create an action creator that will accept argument use

[2019-12-24 00:49] piotrwitek commented on #218
Hey @edgarSang,
I will try to help you but I need all the missing details like:
- what is PromiseCreatorFunction<P1, P2> type
- what is isPayloadAction

[2019-12-24 00:58] piotrwitek commented on #162
I'm thinking to add a more generic abstraction that would handle the most common epic creation using createAsyncEpic helper function that would cover the handling of success, error and optional cancel automatically.

[2020-01-14 13:34] nktka commented on #158
Had exactly the same problem. Only by not exporting individual reducers the problem was solved. A shame, because it makes testing harder.

[2020-01-14 14:34] nktka commented on #158
Investigated a bit further, and found that I had `"declaration": true` in my `tsconfig.json` which was causing this, and was absolutely unnecessary. Hope this helps.

[2020-01-22 08:29] refucktor opened #219 "Jest Unit Testing"
I already checked your community chat and noticed someone already asked something similar without any answers. That's why I'm posting my question here.

Is there any strategy or example for unit testing the actions? Using a library like `redux-mock-store` we can mock store and dispatch actions which makes the unit testing quite easy. Unfortunately while testing the actions created with your librar

[2020-01-22 15:04] voliva opened #220 "AsyncActionCreatorBuilder doesn't support generics"
## Description

Even though AsyncActionCreatorBuilder can be easily used by providing set and fixed types, it can't be used when trying to retrieve generics.

## Mandatory info

- [x] Did you checked [compatibility notes][1] and [migration guides][2]?

## How to Reproduce

[code]

## Current behaviour

TS shows an error on the line `[TRequestType, TRequestValue]`:

## Expected behaviour

TS should

[2020-01-22 23:25] jstheoriginal opened #221 "Redux 4.0.5 Causing New "Type instantiation is excessively deep and possibly infinite." Error on combineReducers"
## Description

I'm not sure if this is an issue with `typesafe-actions` or `redux` in the end, but after **only** upgrading from redux 4.0.4 to 4.0.5, we are now getting this error:

[code]

No issues when going back to 4.0.4 (we'll stay on this version for now).

## Mandatory info

- [Yes] Are you extending internal types to enable type-free syntax with `createReducer`?

[code]

Possibly this ^^

[2020-01-23 02:21] jstheoriginal commented on #221
Here's the diff for redux 4.0.4 vs 4.0.5:

https://github.com/reduxjs/redux/compare/v4.0.4...v4.0.5

[2020-01-23 07:15] ifmoon commented on #218
hi, here is v5 createAsyncSaga. it worked.

[code]
I think this function is useful for reducing boilerplate, but I don't think it's suitable as a built-in helper. This is because there is more work to modify the boilerplate itself, such as state management of asynchronous requests, logging, and selector mapping.

[2020-01-25 15:25] Baterka opened #222 "createReducer handle type/action not giving same action type"
## Description

When creating reducer by `createReducer<State, Action>` you not get same action type when using `handleType` and `handleAction` if your action was created by `createAsyncAction`.

## Mandatory info

## How to Reproduce

[code]

Create reducer like so and you get type error:
[code]
You get `action` type: `(parameter) action: {     type: EActionTypes.FETCH_PROFILE_SUCCESS;     payloa

[2020-01-27 09:53] EmmanueleVilla opened #223 "Type error when using Epic with AsyncAction"
## Description

When intercepting an asyncAction with an epic, I got a compiler error that it's also present on your sample application in the codesandbox

## Mandatory info

- [ ] Are you extending internal types to enable type-free syntax with `createReducer`?
No

- [ ] Did you checked [compatibility notes][1] and [migration guides][2]?
Yes

## How to Reproduce

### CodeSandbox Link
I do not hav

[2020-01-27 10:56] EmmanueleVilla commented on #223
Update: it seems that using "switchMap" it's what's causing the error.

As per the issue description, this doesn't work:
[code]

I've tried to remove the filter and it still doesn't work:
[code]
But if I remove the switchMap, it works:
[code]
So the return type seems correct

[2020-01-27 11:04] EmmanueleVilla commented on #223
Update:
I've changed the tsconfig from
[code]
to
[code]
and now it works. Do you know why it doesn't work on es5? Should it?

[2020-01-28 12:41] jaulz opened #224 "Expose InitialHandler type"
## Is your feature request related to a real problem or use-case?
I would like to use the InitialHandler type in my project so I can easily pass it around from a wrapper function.

## Describe a solution including usage in code example
"export" is missing.

## Who does this impact? Who is this for?
All Typescript users that would like to pass initial handlers from a wrapper functions.

## Describe

[2020-02-05 18:19] kononenko-a-m commented on #95
hi @piotrwitek, I'd like to work on this issue, is this still relevant? I mean, if no one else have started work on this?

[2020-02-05 22:06] piotrwitek commented on #95
Hey @kononenko-a-m,
I've been working on it and have made some progress, although I hit the blocker because of design limitations, and I wanted to rethink the design but I don't remember all the details now.
Are you familiar with the async action implementation and tried to implement it? It won't be easy.

[2020-02-06 19:01] kononenko-a-m commented on #95
@piotrwitek In general, yes.

so you want to have mentioned by you behaviour work:
[code]
right?

[2020-02-06 20:33] kononenko-a-m commented on #95
the simplest solution which I see for this would be defining several overloading for `isActionOf`, like this:

[code]
this gives desired result, but it wouldn't be very elegant. not sure if it's ok for you?

[2020-02-10 23:00] iansan5653 opened #226 "ActionType is returning `never`"
## Description

The `ActionType` helper is returning `never` instead of the correct mapping, despite using a very simple actions file.

I'm probably doing something incorrectly, but if so, I can't find it.

## Mandatory info

- [x] Are you extending internal types to enable type-free syntax with `createReducer`?

I'm trying to, but it's not working:
[code]

- [x] Did you checked [compatibility not

[2020-02-18 15:17] ncuillery commented on #207
When I started working with your library, I naturally tried to pass an instance of `Error` to the `createAction` and I was secretly hoping that the boolean `error` was automatically set, but it wasn't.

So when I'm reading this:

I definitely agree 👍

[2020-02-20 21:00] christophemenager commented on #226
Hello,

I think you should write :

[code]
You have forgotten the () at the end !

[2020-02-25 23:31] piotrwitek commented on #226
Thanks @christophemenager you are right! It's missing `()` at the end!

[2020-02-25 23:31] #226 closed

[2020-02-25 23:32] piotrwitek commented on #207
@ncuillery thanks for your feedback

[2020-02-26 12:54] piotrwitek commented on #183
Hey @jstheoriginal

You can add return type constraint on reducer handler to validate extra keys.

Like this:
[code]

[2020-03-04 09:43] DalderupMaurice commented on #143
Is there a possibility to add meta data to the success action?
With this snippet:
[code]

I can call `actionWithMeta.success(request, myMeta);` and the meta is applied, but it gives a typing error, expecting only 1 argument.

I'd need to have a certain metadata field for my custom redux middleware.

[2020-03-04 19:24] piotrwitek commented on #143
@DalderupMaurice yes you can just edit the types arguments:

[code]

[2020-03-10 07:12] devGW opened #227 "syntax error occurred while using "createAsyncAction""
### Description
did i make a mistake on my code?

---

### Error
[code]
### How to Reproduce

[code]
---

### Project Dependencies

- typescript Version: "^3.8.2"
- typesafe-actions Version: "^5.1.0"
- tsconfig.json:

[code]

---

### Environment (optional)

- OS:MAC osx catalina
- Node Version: 10.15.3

[2020-03-10 18:45] C-Higgins commented on #222
Your RootAction type is wrong

[2020-03-11 05:53] devGW commented on #227
I solved this error

## Solution
Install the latest version of the babel or using the TypeScript Loader

[2020-03-11 05:53] #227 closed

[2020-03-14 11:44] Superjo149 opened #228 "Type error with rxjs and connected-react-router"
## Description

I am encountering several Type errors when use router actions from `connected-react-router`. Someone else already made [an issue](https://github.com/supasate/connected-react-router/issues/286) over at `connected-react-router`. But I believe it to be an issue with the `ActionType`, since this is being used to type the epics. It still works but it throws an error.

This is the full o

[2020-03-16 15:57] timosnel commented on #209
@piotrwitek the issue mentioned by @mavajee happens when the TypeScript setting 'strictNullChecks' is set to false. I just ran into the same problem.

We're currently in the process of migrating to stricter TS settings, but in case someone else runs into this, at least they know the cause.

This is what the type signature looks like with strictNullChecks turned off:
![afbeelding](https://user-imag

[2020-03-20 18:19] feimosi commented on #209
I can confirm the same happens in our project (`strictNullChecks` set to false).
It expects the payload and meta parameters.

This action creator
[code]
is typed as:
[code]
and fails with:
[code]

[2020-03-25 19:33] wuweiweiwu commented on #189
Can I pick this up?

[2020-03-29 19:42] elegos commented on #143
Hello! I'm trying to configure a basic action/reduce setup. I've got the following action:

[code]

Then this should be the relative reducer:
[code]

The problem is that in `handleAction` if I don't specify the state's and the action's types, they will be `any`. What am I doing wrong? Shouldn't typesafe-actions take care of this?

Thanks :)

[2020-04-02 07:00] calvinwyoung commented on #189
@wuweiweiwu That would be awesome — it's been tough sorting through some of the changes in the API without proper documentation

[2020-04-02 18:57] elegos opened #229 "External libraries supporting typesafe-actions"
Hello!

I'd like to keep this issue to gather information about "satellite" projects enhancing the experience with typesafe-actions.

I'll start with my library, others will come as people will reply.

P.S.
Maybe a wiki page?

# typesafe-actions-reducer-builder

github: https://github.com/elegos/typesafe-actions-reducer-builder
npmjs: https://www.npmjs.com/package/typesafe-actions-reducer-builder

[2020-04-14 19:55] AndrewCraswell opened #230 "Make actions compatible with new Redux Toolkit guidance on TypeScript usage"
## Is your feature request related to a real problem or use-case?
The Redux team has released the Redux Toolkit library to simplify implementation scenarios with Redux. However, their `Action` type is not fully compatible with `typesafe-actions`.

The Redux [documentation](https://redux-toolkit.js.org/usage/usage-with-typescript#createreducer) describes how actions should be able to be used with `

[2020-04-14 23:18] piotrwitek commented on #230
Let me experiment with this idea and we'll look into what is possible.

[2020-04-15 06:40] avin-kavish opened #231 "Babel Macro"
Typesafe Actions is an avoidable increase in bundle size. I'm not sure if it's possible but a Babel Macro would allow us to use the library without adding to the bundle size. It would also increase run-time performance as `createAction` does not need to be evaluated on each run. A sample transformation would be,

[code]

[code]

[2020-04-16 07:58] AndrewCraswell commented on #230
I still think this is a useful feature, but I found a workaround by reusing some of the types from the Redux Toolkit directly. Going to reduce the bounty on this, and convert some of it to a direct donation.

[2020-04-21 17:47] avin-kavish commented on #230
Why do we need feature parity with redux toolkit? This is the original library and I personally like this interface better.

[2020-04-21 18:19] AndrewCraswell commented on #230
Well, for the same reason that I had to migrate away from `tyoesafe-actions`. I can't use it to build a library which won't work with the official Redux recommended way of doing things.

Is there something specific you like better about not including the `type` and `match` on the action creator?

[2020-04-22 01:14] mikecann commented on #229
This is EXACTLY what I have been looking for, thanks :)

[2020-04-22 17:29] marinintim commented on #156
@piotrwitek what would it take now to implement the defaultHandler in the way you've described? Ironically, I want to achieve the exact example you've provided.

[2020-04-24 09:48] avin-kavish commented on #230
I like `createReducer` but I take it back `redux-toolkit` is probably going to make this library redundant.

[2020-04-29 07:44] chrispaynter commented on #156
I've gotten around this recently (at least the sign out problem) by implementing the root reducer pattern that Dan Abramov suggested [here](https://stackoverflow.com/a/35641992/518341).

I'm not sure if I'm missing something, but the following seems to work for me:

[code]

The clearOnSignOutReducer could handle any number of actions I guess. But I suppose, to the questions point, you'd have to ho

[2020-04-29 16:22] marinintim commented on #156
@chrispaynter, unless I'm not mistaken, this requires all your reducers to accept `undefined` as a possible state.

[2020-04-30 06:08] chrispaynter commented on #156
Ah right yes, got you @marinintim.

One way I've gotten around this in the past is to export the default states of all reducers.

Bit more effort (and you have to remember to add new reducers), but did the job (a few years ago!). After a while, new reducers don't get added so much anyway.

Could get you out of the woods at least until something like the above is added to the library.

[code]

[2020-05-02 14:41] hapablap21 commented on #209
It looks like if you replace `undefined` in the createAsyncAction generic parameters with `[undefined, undefined]`, it behaves correctly.  I'm not sure if that's expected behavior, but it's suboptimal for action creators that don't need a parameter.

[2020-05-05 01:53] allandiego commented on #143
Im having same issue
[code]

[2020-05-05 09:15] elegos commented on #143
@allandiego I've kind of "resolved" writing a supporting library: https://github.com/piotrwitek/typesafe-actions/issues/229

[2020-05-08 03:21] allandiego commented on #143
@elegos i ended up switching to the official redux lib:
https://redux-toolkit.js.org

[2020-05-21 15:48] viters commented on #143
@piotrwitek

Are generics not supported for `createCustomAction` `createHandler`?

[code]

[2020-06-08 23:52] brunoti opened #232 "Type error when using two async actions on one reducer"
I'm receving a type error on one of my reducers and I don't know what to do:

[code]

I'm using 2 actions from with similar type signatures generated from createAsyncActions one is:

[code]

and the other

[code]

this is the reducer with the error

[code]

This is the other action cited on the error:

[code]

I have 3 more reducers, one of them is using a single async action with no problems. Whe

[2020-06-09 07:19] piotrwitek commented on #232
Hey @brunoti, I cannot help you report is not complete. Please use the template.

[2020-06-09 07:19] #232 closed

[2020-06-09 13:00] brunoti opened #233 "I'm receiving a type error when using two async actions on one reducer"
## Description

I'm receiving a type error when using two async actions on one reducer:

[code]
## Mandatory info

- [X] Are you extending internal types to enable type-free syntax with `createReducer`?

[code]

- [x] Did you checked [compatibility notes][1] and [migration guides][2]?

## How to Reproduce

This is my folder structure:

[code]

[code]

[code]

My async actions (./app/user/store/aut

[2020-06-09 21:55] piotrwitek commented on #233
Hey @brunoti,

When declaring async actions there are 2 typing styles, please make sure to not use both of them. Here are example docs: #143 

Basically try this:

[code]

[2020-06-10 00:11] brunoti commented on #233
That worked! I got confused between docs in the beginning. That plus tutorials got me to the wrong path.

[2020-06-10 00:11] #233 closed

[2020-06-10 06:47] piotrwitek commented on #233
Yes it's confusing right now I agree, I have to work on it.

[2020-06-11 10:00] alexkazantsev commented on #209
@hapablap21 thanks! you saved my day :)

[2020-06-25 00:10] dimitropoulos opened #234 "Can I use createAction with a static meta in a way that `createReducer.handleAction` allows?"
I am looking at using `redux-beacon` to integrate analytics from the point of my redux store.  To do this I need to add `meta` to some actions. So I basically have typical `createAction` that looks like this, let's say:

[code]

I'm using this with `createReducer` like
[code]

And in my code I just have
[code]

My problem is I want to, at the level of the creation of the action, create meta for th

[2020-06-30 07:18] enheit commented on #188
@piotrwitek any updates?

[2020-07-02 05:53] codelovesme commented on #9
Easy to close

[2020-08-09 16:38] Joe1220 commented on #188
is typesafe-actions deprecated? when update?

[2020-08-31 07:03] ArielGueta opened #237 "isActionOf - Argument contains array with invalid element at index 0"
I'm creating action and use it with `isActionOf` according to the docs:

[code]

But I get an error:

What am I missing?

Thanks.

"typescript": "~3.9.3"

[2020-08-31 08:14] fwh1990 opened #238 "Any idea about Redux-Model"
Github repo: https://github.com/redux-model/redux-model/blob/master/README-EN.md

I am very crazy on how to write program faster and faster with typescript and try to save people's life. It maybe not the best, but should be a better choice.

You can also run this demos online:

* [Counter](https://codesandbox.io/s/redux-model-react-counter-zdgjh)
* [Persist](https://codesandbox.io/s/redux-model-re

[2020-09-01 05:39] #237 closed

[2020-09-01 09:47] piotrwitek commented on #167
It will be soon possible to fully implement this feature with complete type-safety, something I've been waiting for for a long time.

microsoft/TypeScript#40336

[2020-09-01 12:17] mnbattaglia commented on #226
Hey @piotrwitek . I was banging my head with this issue for more than two hours. I have a working app in v4 and wanted to migrate to v5. I'm using an actor creator with a plain object like this example (https://github.com/piotrwitek/typesafe-actions#actiontype) and then using ActionType to create my RootAction type. Finally, I'm creating my reducer by providing generics like this:

[code]

This wi

[2020-09-01 12:22] mnbattaglia commented on #226
Sorry @piotrwitek , after re-reading the migration guide, in step 3 I can see in the "after" code of createAction there is actually a `()` at the end. Maybe you can highlight it somehow for idiots like me so they don't waste so much time

[2020-09-03 09:56] kylemh commented on #92
This action actually gets dispatched, but without type-safety when passing props to the would-be rendered modal. I hate this code, but it's a stop-gap; please don't hurt me ♥️

[code]

Trying to emulate the examples above is not working for me 😞 ... The actions type is dispatched, but it doesn't seem like the dispatch resolves.

1) Here's the one that's not compatible with `getType()`:
[code]

2)

[2020-09-10 03:49] Lemmmy commented on #237
Care to share how you fixed it/why you closed the issue?

[2020-09-10 05:02] ArielGueta commented on #237
I changed it to:

[code]

[2020-09-12 13:54] pushys commented on #41
Given the recent huge TypeScript [update](https://github.com/microsoft/TypeScript/pull/40336), I guess dynamic action types have become very possible now.

[2020-09-17 11:32] piotrwitek commented on #226
@mnbattaglia you can send a PR with edit in the docs and I will merge ;)

[2020-09-21 13:32] Drevoed opened #239 "Is it even possible to type thunks properly?"
I am afraid that it is not possible to allow dispatch to accept both RootAction and an AppThunk which uses RootAction and RootState in it because it will result in a self-referential circle

Is there any way to avoid this?

[2020-09-25 04:30] parkerault commented on #189
Man, this is rough. I totally appreciate that it's open source and "why don't you do it yourself?" is a legitimate question, but I just spent 2 hours trying to figure out why my actions weren't working because I'm using v5 and reading the docs for v4. Has there been any progress on this front?

[2020-10-21 10:45] bunysae commented on #156
Just started work on it. Will open a PR soon.

[2020-10-29 04:47] coolbeatz71 commented on #221
Me too I started getting this error

[2020-11-07 00:39] quolpr opened #242 "What is the future of the project?"
Hey, guys! I wanted to ask this question in the spectrum.chat(as GitHub Pull Request mentioned me), but it seems not so active. So I want to ask it here.

So, my main question - what is the key benefit of typesafe-actions in front of redux-toolkit? And what is the near future of this project? Do you have worries that typesafe-actions will not be in demand because of redux-toolkit?

I am very thank

[2020-11-10 09:16] piotrwitek commented on #242
Hey,

The biggest difference is that this project is "typescript first" and always will be. The biggest effort is put not into the logic of the library, but into the type-safety.

You can be sure that this library will never break your TS project because of its unique **type unit tests**.

There is a lot on the plate for the near future, especially in the area of minimizing the boilerplate.

If yo

[2020-11-12 16:29] jaulz opened #243 "Infer action and return type from action creator"
First of all, thanks a lot for this library as it makes my code base so much safer 😊  However, I am facing a special issue right now which is quite tricky and might also be related to Typescript itself and not this library.

The example below is a simplified example what I would like to achieve. The function `getTypeAndPayload` should be able to get the type of the incoming action creator but also

[2020-11-13 13:44] jaulz commented on #243
Okay, I got it finally... just for anyone who's also interested in it:
[code]

The important piece is the explicit cast to `ReturnType<typeof actionCreator>['type']`.

[2020-11-13 13:44] #243 closed

[2020-11-16 15:58] quolpr commented on #242
Thank you for your explanation! That what I was needed to hear. Long Live typesafe-actions 🙂

[2020-11-16 15:58] #242 closed

[2020-11-24 16:13] NewBieBR opened #244 "Access state in createAsyncAction"
## Is your feature request related to a real problem or use-case?

Yes. I want to access to the state in my action creator in order to inject a jwt in my actions.
This use case is pretty common if your app uses an API that require an authorization token (app like facebook or instagram). Instead of getting the token and dispatching it in the action manually:

[code]

## Describe a solution includin

[2020-11-30 09:21] Ethella opened #245 "[5.1] handleAction throws error in test environment using AVA"
## Description

## Mandatory info

- [ ] Are you extending internal types to enable type-free syntax with `createReducer`?

[code]

- [x] Did you checked [compatibility notes][1] and [migration guides][2]?

## How to Reproduce

### CodeSandbox Link

*(PASTE HERE your codesandbox link)*

### No CodeSandbox Link
If no codesandbox, then please provide a full working code example below including actio

[2020-12-01 07:47] potrata commented on #188
@piotrwitek any updates?

[2020-12-05 19:59] zdila opened #246 "Using RootAction makes TypeScript intellisense and compilatiion extremly slow"
## Description

If we use in our application `RootAction` as is recommended in the documentation, then TS compilatin is extremly slow and intellisense in VS Code becomes near-unuseable.

[code]

It is reproducible with the project https://github.com/FreemapSlovakia/freemap-v3-react (just clone it and do `npm i && DEPLOYMENT=www time ./node_modules/.bin/webpack`)

Workaround is to replace the above

[2020-12-07 12:37] chmac opened #247 "Suggestion for safer redux-saga types with typed-redux-saga"
Reading this from the docs:

This package offers more type safety https://github.com/agiledigital/typed-redux-saga

In the following example, `result` will be typed with the return type of `fn`.

[code]

[2020-12-13 02:29] hanayashiki opened #249 "Wrong Documentation"
## Description

The README.md documentation does not give a correct example for `createAction`

[code]

For example, the last function does not work with me. TypeScript complains with erorrs that `getTodo` requires 0 params.
![image](https://user-images.githubusercontent.com/26056783/102001567-6f098800-3ca8-11eb-953f-22e11d1e5c26.png)

## Mandatory info

- [ ] Are you extending internal types to e

[2020-12-19 05:38] lukemorales opened #250 "Error: 'createAction' is not exported by typesafe-actions.umd.production.js"
## Description

I'm building my react project with rollup, and because of some libs I need to activate `browser: true` on rollup-node-resolver, but I cannot build my app because of the following error: `[!] Error: 'createAction' is not exported by node_modules/typesafe-actions/dist/typesafe-actions.umd.production.js`

## Mandatory info

- [ ] Are you extending internal types to enable type-free sy

[2020-12-22 13:50] hanayashiki commented on #249
I fixed this issue by switching to redux-toolkit. I suggest all of you do so.

[2020-12-22 13:50] #249 closed

[2021-01-05 20:26] thedillonb commented on #246
We are also hitting this. We have approximately 220 actions and have noticed that complication times are pretty extreme when compiling. Unfortunately, I don't think this really has anything to do with typesave-actions. https://github.com/microsoft/TypeScript/wiki/Performance#preferring-base-types-over-unions is probably describing the problem here.

[2021-02-09 22:47] retyui commented on #188
up

[2021-02-27 00:00] AhsanAyaz opened #251 "Import declaration conflicts with local declaration of 'RootState'."
## Description

Conflicting types for some weird unknown reason.

## Mandatory info

- [ x] Are you extending internal types to enable type-free syntax with `createReducer`?

[code]

- [ x] Did you checked [compatibility notes][1] and [migration guides][2]?

## How to Reproduce

### No CodeSandbox Link
If no codesandbox, then please provide a full working code example below including actions, redu

[2021-03-10 15:08] karltaylor commented on #189
Had the same issue as @parkerault, it would be great API docs could be updated to v5.0.0 or to make this more obvious on the `README.md`.

@wuweiweiwu do you need help?

[2021-03-13 05:16] kylegoetz opened #252 "Documentation for polymorphic action"
I suggest there be documentation for how to handle a polymorphic action (like one action that could modify N properties of a state with varying property types instead of having N actions, each for changing one property)

suppose I have state

[code]

I want an action called `setFooProperty` that will take `<K extends keyof Foo>(key:K, value: Foo[K]) => ...`

Typing this is no problem. Either

`<K

[2021-03-13 17:19] kylegoetz commented on #244
how about

[code]

[2021-05-17 16:44] zdila opened #253 "handleAction allows return object with properties not pesent in the state type"
I am not sure if it is a bug or feature, but this compiles just OK:

[code]
If it is the feature, why `handleAction` allows returning object with properties not present in the state type? This way the compiler will not catch some errors.

[2021-05-31 15:17] NickisyourFan commented on #134
Thanks! This helped me out a lot and learned about ReturnType

[2021-06-02 06:03] koremp opened #254 "Request: Change branch name master to main"

[2021-06-08 11:53] koremp opened #255 "Why createReducer's handleAction exclude InputAction and HandledAction?"
I used typesafe-actions for my side project, but there are type handling error when I handle action type what I already handled.
There could be different actions that use same action type.

[2021-06-20 15:23] Eljoy opened #256 "The result type of createReducer is any instead of Reducer"
The result type of createReducer is `any` instead of `Reducer`

"typescript": "^4.2.4",
"typesafe-actions": "^5.1.0",

Actions:

[code]
Reducer
[code]

Temp solution:
Setting type explicitly:

[code]

[2022-01-11 08:17] zhang-quan-yi commented on #256
I think `RootAction` may help:
![image](https://user-images.githubusercontent.com/12481444/148905463-3764ef3f-5321-46a3-a512-1dd601c24d47.png)

And this Todo-App is a complete demo:
![image](https://user-images.githubusercontent.com/12481444/148905646-6523e507-b91a-48e9-a094-d252df3c4650.png)

[2022-01-12 15:54] #224 closed

[2022-01-13 19:20] smff commented on #188
up

[2022-01-13 19:41] piotrwitek commented on #188
I hear you. Coming back to this one.

[2022-01-13 19:50] piotrwitek commented on #256
Seems like resolved

[2022-01-13 19:50] #256 closed

[2022-03-23 06:56] mighty-phoenix commented on #95
Hey!
Is this issue still up for grabs(Issuehunt bouny)?
Thanks! @piotrwitek @kononenko-a-m

[2022-03-23 06:58] mighty-phoenix commented on #230
Hey!
Is this issue still up for grabs(Issuehunt bouny)?
Thanks! @piotrwitek @kononenko-a-m

[2022-03-23 07:29] AndrewCraswell commented on #230
I had forgotten about this, but it is still funded. I'm not sure how relevant it is anymore, given that Redux Toolkit has had multiple major releases since. But if an implementation for this is submitted, I'll honor it.

[2022-04-07 22:50] #209 closed

[2022-04-09 17:30] lnhrdt opened #259 "Allow createReducer to be used without initial state"
We are using createReducer throughout a React application. We always use these reducers with [React's useReducer hook](https://reactjs.org/docs/hooks-reference.html#usereducer). In this scenario it is cumbersome to supply the initial state to both createReducer and to useReducer. It's especially cumbersome when the initial state is initialized by the runtime context – I can build the state at runt

[2022-04-13 10:33] piotrwitek commented on #259
Hey @lnhrdt, thanks for sharing your feedback. Could you please provide the usage examples for your use case soO can fully understand what is the source of confusion. Thanks

[2022-05-25 12:15] ovidiu-balau commented on #253
Is there any fix for this? It renders `createReducer` useless for me if `handleAction` cannot understand its return type

[2022-05-26 13:14] piotrwitek commented on #253
This is typescript limitation, doesn't have anything to do with the library. Just provide an explicit return type and it will work as expected.

[2022-05-26 13:14] #253 closed

[2022-06-05 09:34] lnhrdt commented on #259
Hello @piotrwitek! Thanks for getting back to me and apologies for the delay. Here's an annotated example.

[code]

Does that help clarify the way I'm trying to use your library?

[2022-08-25 20:05] lnhrdt commented on #259
Hello @piotrwitek were you able to read through my example or do you have any questions?

[2022-08-29 09:39] piotrwitek commented on #259
Hey @lnhrdt thanks a lot for clarification, it's clear! I just missed your notification. I will have a look this week, but I agree with you that this is a generic pattern that could be a nice fit into the library. Let me check the details so I can prepare a proposal for such a feature.

[2022-09-06 11:16] #250 closed

[2022-09-27 11:35] pilz97 opened #261 "Error After upgrade from Angular 13 to 14 (A type annotation is necessary)"
After Angular upgrade from 13 to 14 i got an error

The inferred type of 'loadOpenTableIds' cannot be named without a reference to 'my-lib/node_modules/typesafe-actions/dist/create-async-action'. This is likely not portable. A type annotation is necessary.

export const aAsyncAction = createAsyncAction(...

i have to write export const aAsyncAction: any =..

does anyone know why it worked before a

[2022-09-27 12:15] pilz97 commented on #261
https://github.com/microsoft/TypeScript/issues/42873#issuecomment-1221424143
solves my issue

[2022-09-27 12:15] #261 closed, assigned to nobody